!.env.example
/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/img
/public/fonts
/reports
/storage/*.key
/vendor
composer.lock
yarn.lock
.env*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
